<!-- Footer -->
<footer id="footer">
  <ul class="icons">
    {% if site.twitter_url %}<li><a target="_blank" rel="noopener noreferrer" href="{{ site.twitter_url }}" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>{% endif %}
    {% if site.facebook_url %}<li><a target="_blank" rel="noopener noreferrer" href="{{ site.facebook_url }}" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>{% endif %}
    {% if site.linkedin_url %}<li><a target="_blank" rel="noopener noreferrer" href="{{ site.linkedin_url }}" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>{% endif %}
    {% if site.instagram_url %}<li><a target="_blank" rel="noopener noreferrer" href="{{ site.instagram_url }}" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>{% endif %}
    {% if site.github_url %}<li><a target="_blank" rel="noopener noreferrer" href="{{ site.github_url }}" class="icon alt fa-github"><span class="label">GitHub</span></a></li>{% endif %}
    {% if site.email_url %}<li><a target="_blank" rel="noopener noreferrer" href="{{ site.email_url }}" class="icon alt fa-envelope"><span class="label">Email</span></a></li>{% endif %}
  </ul>
  <ul class="copyright">
    <li>&copy; Untitled. All rights reserved.</li><li>Design: <a target="_blank" rel="noopener noreferrer" href="http://html5up.net">HTML5 UP</a></li>
  </ul>
</footer>
