<!-- Content -->
  {% assign no_sidebar_page = site.pages | where_exp: "page","page.sidebar == null" | where:"ref",page.ref | where:"lang",page.lang %}
  {% if page.sidebar == null %}
  {% for page in no_sidebar_page %}
  {{ content }}
  {% endfor %}
  {% else %}
  <section id="content">
    {% assign current_page = site.pages | where:"ref",page.ref | where:"lang",page.lang %}
    {% for page in current_page %}
    <a href="#" class="image fit"><img src="{{ page.img | prepend: site.baseurl }}" alt="" /></a>
    {% endfor %}
    {{ content }}
  </section>
{% endif %}
