<!-- Flow start -->

{% if page.ref == "index" %}
<!-- Featured sections -->
{% assign homepage_sections = site.posts | sort:"date" | where:"is-featured","true" | where:"lang",page.lang %}

{% for post in homepage_sections reversed %}
{% include sections/sliding_sections.html %}
{% endfor %}

{% elsif page.type == "author" %}
<!-- Authors sections -->
{% assign author_sections = site.posts | sort:"date" | where:"author",page.title | where:"lang",page.lang %}

{% for post in author_sections reversed %}
{% include sections/sliding_sections.html %}
{% endfor %}

{% elsif page.type == "topic" %}
<!-- Topic sections -->
{% assign topic_sections = site.posts | sort:"date" | where:"topic",page.title | where:"lang",page.lang %}

{% for post in topic_sections reversed %}
{% include sections/sliding_sections.html %}
{% endfor %}

{% endif %}
<!-- Flow end -->
