<!-- Header -->
  <header id="header">
    <h1 id="logo"><a href="{% if page.lang == "en" %}{{ site.baseurl | prepend: site.url }}/en/{% else %}{{ site.baseurl | prepend: site.url }}/{% endif %}">{% if page.lang == "hu" %}{{ site.data.strings.site.title.hu }}{% else %}{{ site.data.strings.site.title.en }}{% endif %}</a></h1>
    <nav id="nav">
      <ul>
        <li><a href="{% if page.lang == "en" %}{{ site.baseurl | prepend: site.url }}/en/{% else %}{{ site.baseurl | prepend: site.url }}/{% endif %}">{% if page.lang == "hu" %}{{ site.data.strings.titles.home.hu }}{% else %}{{ site.data.strings.titles.home.en }}{% endif %}</a></li>
        <li>
          <a href="{% if page.lang == "en" %}{{ site.baseurl }}/{% else %}en/{% endif %}">{% if page.lang == "en" %}{{ site.data.strings.words.lang.hu }}{% else %}{{ site.data.strings.words.lang.en }}{% endif %}</a></li>
        <li>
          <a href="#">{% if page.lang == "hu" %}{{ site.data.strings.titles.layouts.hu }}{% else %}{{ site.data.strings.titles.layouts.en }}{% endif %}</a>
          <ul>
            <li><a href="left-sidebar.html">{% if page.lang == "hu" %}{{ site.data.strings.titles.left_sidebar.hu }}{% else %}{{ site.data.strings.titles.left_sidebar.en }}{% endif %}</a></li>
            <li><a href="right-sidebar.html">{% if page.lang == "hu" %}{{ site.data.strings.titles.right_sidebar.hu }}{% else %}{{ site.data.strings.titles.right_sidebar.en }}{% endif %}</a></li>
            <li><a href="no-sidebar.html">{% if page.lang == "hu" %}{{ site.data.strings.titles.no_sidebar.hu }}{% else %}{{ site.data.strings.titles.no_sidebar.en }}{% endif %}</a></li>
            <li>
              <a href="#">{% if page.lang == "hu" %}{{ site.data.strings.titles.submenu.hu }}{% else %}{{ site.data.strings.titles.submenu.en }}{% endif %}</a>
              <ul>
                <li><a href="#">{% if page.lang == "hu" %}{{ site.data.strings.words.option.hu }}{% else %}{{ site.data.strings.words.option.en }}{% endif %} 1</a></li>
                <li><a href="#">{% if page.lang == "hu" %}{{ site.data.strings.words.option.hu }}{% else %}{{ site.data.strings.words.option.en }}{% endif %} 2</a></li>
                <li><a href="#">{% if page.lang == "hu" %}{{ site.data.strings.words.option.hu }}{% else %}{{ site.data.strings.words.option.en }}{% endif %} 3</a></li>
                <li><a href="#">{% if page.lang == "hu" %}{{ site.data.strings.words.option.hu }}{% else %}{{ site.data.strings.words.option.en }}{% endif %} 4</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="elements.html">{% if page.lang == "hu" %}{{ site.data.strings.titles.elements.hu }}{% else %}{{ site.data.strings.titles.elements.en }}{% endif %}</a></li>
        <li><a href="#" class="button primary">{% if page.lang == "hu" %}{{ site.data.strings.expressions.sign_up.hu }}{% else %}{{ site.data.strings.expressions.sign_up.en }}{% endif %}</a></li>
      </ul>
    </nav>
  </header>
