<!-- Sections start -->
{% assign sections = site.posts | sort:"order" | where:"location","home" | where:"lang",page.lang %}
{% for post in sections %}

  <section id="{{ post.ref }}" class="{{ post.style }}">
    <span class="image fit main"><img src="{{ post.image | prepend: site.baseurl }}" alt="" /></span>
    <div class="content">{% if post.middle %}
      <div class="container">
        <div class="row">{% endif %}
          <div class="col-4 col-12-medium">
            <header{% if post.major %} class="major"{% endif %}>
              <h2>{{ post.title }}</h2>
              <p>{{ post.description }}</p>
            </header>
          </div>
          {% if post.middle %}<div class="col-4 col-12-medium">
            <p>{{ post.middle | markdownify }}</p>
          </div>
          <div class="col-4 col-12-medium">
            {{ post.content }}
          </div>
        {% else %}
        <div class="col-4 col-12-medium">
          <p>{{ post.content }}</p>
      </div>{% endif %}{% if post.middle %}
      </div>
    </div>{% else %}
    <ul class="actions">
      <li><a href="#" class="button">{% if page.lang == "hu" %}{{ site.data.strings.expressions.learn_more.hu }}{% else %}{{ site.data.strings.expressions.learn_more.en }}{% endif %}</a></li>
    </ul>{% endif %}
  </div>
  <a href="#{{ post.after }}" class="goto-next scrolly">{% if page.lang == "hu" %}{{ site.data.strings.words.next.hu }}{% else %}{{ site.data.strings.words.next.en }}{% endif %}</a>
  </section>

{% endfor %}
<!-- Sections end -->
