<!-- Main start -->
  <div id="main" class="wrapper style1">
    <div class="container">
      <header class="major">
        <h2>{{ page.title }}</h2>
        <p>{{ page.description }}</p>
      </header>
      {% if page.sidebar != null %}
      <div class="row gtr-150">

        {% if page.sidebar == 'left' %}
        <div class="col-4 col-12-medium">

          {% include main/sidebar.html %}

        </div>
        <div class="col-8 col-12-medium imp-medium">

          {% include main/content.html %}

        </div>
        {% endif %}


        {% if page.sidebar == 'right' %}
        <div class="col-8 col-12-medium imp-medium">

          {% include main/content.html %}

        </div>
        <div class="col-4 col-12-medium">

          {% include main/sidebar.html %}

        </div>

      </div>
      {% endif %}

          {% elsif page.sidebar == null %}

          {% include main/content.html %}

          {% endif %}
    </div>
  </div>

<!-- Main end -->
