<!-- Main -->
  <div id="main" class="wrapper style1">
    <div class="container">
      <header class="major">
        <h2>Left Sidebar</h2>
        <p>Ipsum dolor feugiat aliquam tempus sed magna lorem consequat accumsan</p>
      </header>
      <div class="row gtr-150">
        <div class="col-4 col-12-medium">

          {% include main/sidebar.html %}

        </div>
        <div class="col-8 col-12-medium imp-medium">

          {% include main/content.html %}

        </div>
      </div>
    </div>
  </div>
