<!-- Main start -->
  <div id="main" class="wrapper style1">
    <div class="container">
      <header class="major">
        {% if page.type %}
        <span class="image"><img src="{{ page.image | prepend: site.baseurl }}" alt="" /></span>
        {% endif %}
        {% if page.type == "author" %}
        <h2>{{ page.title }}</h2>
        {% else %}
        <h2>{{ page.title | capitalize }}</h2>
        {% endif %}
        {% if page.type == "author" %}
        <p>{{ page.content }}</p>
        {% else %}
        <p>{{ page.description }}
        {% endif %}
      </header>
      {% if page.icons != null %}

      {% include sections/icons.html %}

      {% endif %}
      {% if page.sidebar != null %}
      <div class="row gtr-150">

        {% if page.sidebar == 'left' %}
        <div class="col-4 col-12-medium">

          {% include pages/sidebar.html %}

        </div>
        <div class="col-8 col-12-medium imp-medium">

          {% include pages/content.html %}

        </div>
        {% endif %}


        {% if page.sidebar == 'right' %}
        <div class="col-8 col-12-medium imp-medium">

          {% include pages/content.html %}

        </div>
        <div class="col-4 col-12-medium">

          {% include pages/sidebar.html %}

        </div>

      </div>
      {% endif %}

          {% elsif page.sidebar == null %}

          {% if page.type != "author" %}

          {% include pages/content.html %}

          {% endif %}

          {% endif %}
    </div>
  </div>

<!-- Main end -->
