<!-- Sections start -->
{% assign sections = site.posts | sort:"order" | where_exp:"post","post.style != null" | where:"lang",page.lang %}
{% if post.ref != "Four" %}
{% for post in sections %}

{% if post.ref == "Five" %}

<!-- {{ post.ref }} -->

  <section id="{{ post.ref }}" class="{{ post.style }}">
    <div class="container">
      <header>
        <h2>{{ post.title }}</h2>
        <p>{{ post.description }}</p>
      </header>
      <form method="post" action="#" class="cta">
        <div class="row gtr-uniform gtr-50">
          <div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="{% if page.lang == "hu" %}{{ site.data.strings.expressions.your_email.hu }}{% else %}{{ site.data.strings.expressions.your_email.en }}{% endif %}" /></div>
          <div class="col-4 col-12-xsmall"><input type="submit" value="{% if page.lang == "hu" %}{{ site.data.strings.expressions.get_started.hu }}{% else %}{{ site.data.strings.expressions.get_started.en }}{% endif %}" class="fit primary" /></div>
        </div>
      </form>
    </div>
  </section>

{% elsif post.ref == "Four" %}
<!-- {{ post.ref }} -->

  <section id="{{ post.ref }}" class="{{ post.style }}">
    <div class="container">
      <div class="box alt">
        <div class="row gtr-uniform">
          {% assign icons = site.posts | sort:"order" | where: "type","icon" | where:"lang",page.lang %}
          {% for post in icons %}
          <section class="col-4 col-6-medium col-12-xsmall">
            <span class="icon alt major {{ post.icon }}"></span>
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
          </section>
          {% endfor %}
        </div>
      </div>
      <footer class="major">
        <ul class="actions special">
          <li><a href="#" class="button">Magna sed feugiat</a></li>
        </ul>
      </footer>
    </div>
  </section>

{% else %}

<!-- {{ post.ref }} -->

  <section id="{{ post.ref }}" class="{{ post.style }}">
    <span class="image fit main"><img src="{{ "{{ post.img }}" | prepend: site.baseurl | prepend: site.url }}" alt="" /></span>
    <div class="content">{% if post.middle %}
      <div class="container">
        <div class="row">{% endif %}
          <div class="col-4 col-12-medium">
            <header{% if post.major %} class="major"{% endif %}>
              <h2>{{ post.title }}</h2>
              <p>{{ post.description }}</p>
            </header>
          </div>
          {% if post.div %}<div class="col-4 col-12-medium">
            {% if post.middle %}<p>{{ post.middle }}</p>{% endif %}
          </div>
          <div class="col-4 col-12-medium">
            {{ post.content }}
          </div>
        {% else %}
        <div class="col-4 col-12-medium">
          <p>{{ post.content }}</p>
      </div>{% endif %}{% if post.middle %}
      </div>
    </div>{% else %}
    <ul class="actions">
      <li><a href="#" class="button">{% if page.lang == "hu" %}{{ site.data.strings.expressions.learn_more.hu }}{% else %}{{ site.data.strings.expressions.learn_more.en }}{% endif %}</a></li>
    </ul>{% endif %}
  </div>
  <a href="#{{ post.after }}" class="goto-next scrolly">{% if page.lang == "hu" %}{{ site.data.strings.words.next.hu }}{% else %}{{ site.data.strings.words.next.en }}{% endif %}</a>
  </section>

{% endif %}
{% endfor %}
{% endif %}

<!-- Sections end -->
