<!-- Sidebar -->
  <section id="sidebar">
    <!-- Sidebar sections -->
    <section>
      <h3>{{ page.author }}</h3>
      <p>{{ page.date | date: "%Y/%m/%d" }}</p>
      <footer>
        <ul class="actions">
          {% assign author_permalink = site.pages | where:"type","author" | where:"title",page.author | where:"lang",page.lang %}
          {% for link in author_permalink %}
          <li><a href="{{ site.baseurl }}{{ link.permalink }}" class="button">{% if page.lang == "hu" %}Tudj meg többet{% else %}Learn more{% endif %}</a></li>
          {% endfor %}
        </ul>
      </footer>
    </section>
    <hr />

  </section>
