<!-- Sidebar -->
  <section id="sidebar">
{% assign sidebars = site.posts | sort:"order" | where:"type","sidebar" | where_exp: "post","post.location == page.title" | where:"lang",page.lang %}
{% for post in sidebars %}
<!-- Sidebar sections -->
    <section>
      <h3>{{ post.title }}</h3>
      <p>{{ post.content }}</p>
      <footer>
        <ul class="actions">
          <li><a href="#" class="button">{% if page.lang == "hu" %}{{ site.data.strings.expressions.learn_more.hu }}{% else %}{{ site.data.strings.expressions.learn_more.en }}{% endif %}</a></li>
        </ul>
      </footer>
    </section>
    <hr />
    {% endfor %}

  </section>
